@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    html {
        font-size: 16px;
    }

    /* Custom Scroll Bar */
    ::-webkit-scrollbar {
        width: 1rem;
    }

    ::-webkit-scrollbar-track {
        @apply bg-[transparent];
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[purple] rounded-[1.25rem];
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-[green];
    }

    body {
        padding: 0;
        margin: 0;
        background-color: hsl(1000, 100%, 20%);
    }

    .btn {
        border: 1px solid hsl(1000, 100%, 30%);
        background-color: hsl(1000, 100%, 50%);
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
        outline: none;
        font-size: 1.25rem;
        cursor: pointer;
    }

    .btn:hover {
        border-color: black;
        color: yellow;
        background-color: green;
    }

    .btn.correct {
        background-color: hsl(145, 100%, 50%);
        color: black;
    }

    .btn.wrong {
        background-color: hsl(0, 100%, 50%);
    }
}