*, *::before, *::after {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* sidemenu related */
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  
  :root {
    --hue-neutral: 1000; /*200*/
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  .sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: tomato;
  }
  .sidebar header{
    font-size: 22px;
    color: green;
    line-height: 70px;
    background: black;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s; 
  }

  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a {
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: green;
    border-radius: 3px;
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: green;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    font-size: 30px;
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    border-color: black;
    color: yellow;
    background-color: green;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

.footer-bottom{
  /* position: fixed; */
  position: absolute;
  bottom: 0;
  background: tomato;
  height: 5%;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
  display: block;
}
.footer-bottom p{
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  font-weight: 200;
}
.footer-bottom span a{
  color: green;
  font-weight: bold;
}
.footer-bottom span a:hover{
  color: white;
}
@media screen and (min-width: 360px) and (max-width: 600px){
  .container{
    width: 90%;
    max-width: 90%;
    padding-top: 80%;
    padding-bottom: 50%;
  }
  #question{
    font-size: 20px;
  }
  .question-picture img{
    width: 100%;
  }
  .footer-bottom{
    position: fixed;
  }
  .btn-grid{
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
  }
}


